body
{
    background-color: rgb(161, 155, 155);
    margin-left: 0px;
}

p.title
{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

li.title
{
    font-size: 40px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
}

li.offer
{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    
}

ul
{
    list-style-type: none;
}

div.ad
{
    text-align: center;
}

h1.title1
{
    font-size: 70px;
    text-align: center;
}

h1.title2
{
    text-align: center;
}



/*--------------------------------------*/
ul.menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
ul li.menu a
{
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    float: left;
    text-decoration: none;
    border: 3px solid black;
}
ul li.menu span
{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
ul li.menu a:hover
{
    color: black;
}
ul li.menu a:hover span
{
    transform: translateY(0) scale(8);
}
ul li.menu a span:nth-child(1)
{
    --n: 1;
}
ul li.menu a span:nth-child(2)
{
    --n: 2;
}
ul li.menu a span:nth-child(3)
{
    --n: 3;
}
